In [3]:
import pandas as pd
series =pd.Series([1,2,3,4], name= "g " )
print(series)

0    1
1    2
2    3
3    4
Name: g , dtype: int64

In [6]:
import pandas as ps
a = [2,3,4,5]
b= pd.Series(a)
print(b[2])

4

In [15]:
import pandas as ps
a= ["beijin", "shanghai", "hangzhou"]
b=pd.Series(a, index = [1,2,3])
print(b[[2,3]])

2    shanghai
3    hangzhou
dtype: object

In [22]:
import pandas as ps
a = {1:"shanghai", 2:"beijin", 3:"hangzhou"}
b = pd.Series(a)
print(b)

1    shanghai
2      beijin
3    hangzhou
dtype: object

In [47]:
import pandas as pd
a = pd.Series([10, 11, 12, None, 13, None], index=['a', 'b', 'c', 'd', 'e', 'f'])
b = pd.Series([13, 11, 12, 12, None], index=['a', 'b', 'c', 'd', 'e'])

print(a.index)

print(b.values)

print(b.head(1))# return the first row

print(a.tail(1)) # return the last row

print(a.dtype) #return type 

print(a.shape) # return how many rows

print(a.isnull()) # return true if the value is none - bool
print(b.notnull()) # return false if the value is none

print(b.value_counts()) # return the count values

print(a.sum()) # sum the values
print(a.min())
print(a.std()) 

print(a.rank())
print(b.to_list()) # convert series to list
print(b.to_frame()) #convert series to dataframe


print(a.iloc[1]) # select by position
print(b.loc["a"]) # select by index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')
[13. 11. 12. 12. nan]
a    13.0
dtype: float64
f   NaN
dtype: float64
float64
(6,)
a    False
b    False
c    False
d     True
e    False
f     True
dtype: bool
a     True
b     True
c     True
d     True
e    False
dtype: bool
12.0    2
13.0    1
11.0    1
Name: count, dtype: int64
46.0
10.0
1.2909944487358056
a    1.0
b    2.0
c    3.0
d    NaN
e    4.0
f    NaN
dtype: float64
[13.0, 11.0, 12.0, 12.0, nan]
      0
a  13.0
b  11.0
c  12.0
d  12.0
e   NaN
11.0
13.0